{% extends 'md-add-task.html' %}

<!-- Modal ID -->
{% block modal-id%} id="editarModal{{ task.pk }}" {% endblock modal-id%}

<!-- Titulo do formulário no modal-->
{% block modal-title %} Editar tarefa {% endblock modal-title %}

<!-- Form action -->
{% block action %} action="/update_task" {% endblock action %}

<!-- Botão no modal de edição -->
{% block btn-action %} Salvar Alterações {% endblock btn-action %}

<!--+++++++++++++++++++++ Inputs do form +++++++++++++++++++++++-->
{% block value-id %}
<input
  type="hidden"
  class="form-control"
  name="id"
  value="{{task.id}}"
  readonly
/>
{% endblock value-id %}
<!--Titulo da tarefa -->
{% block value-task %} value="{{task.task}}" {% endblock value-task %}

<!--Descricao -->
{% block value-description %}value="{{task.description}}"{% endblock value-description %}

<!--Prioridade-->
{% block option %}
<option>{{task.priority_level}}</option>
{% endblock option %}

<!--data -->
{% block value-data %}value="{{task.date_task}}"{% endblock value-data %}
