@import url("config.css");

html,
body{
    height: 100%;
}

.btn-login{
    border: 1px solid var(--blue-color);
    border-radius: var(--mb1);
    padding: var(--mb2) var(--mb3);
}

.btn-login:hover{
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    color: var(--white-color);
}

.btn-register{
    border: 1px solid var(--blue-color);
    border-radius: var(--mb1);
    padding: var(--mb2) var(--mb3);
    background-color: var(--blue-color);
    color: var(--white-color);
}

.btn-register:hover{
    color: var(--white-color);
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
}

.nav-link,
btn-login{
    color: var(--black-light-color);
}

.nav-link:hover{
    color: var(--blue-color)!important;
}

/* layout confi page promocional ================================ */


.section{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;

}

.section-contato{
    display: grid;
    grid-template-columns: 100%!important;
    width: 100%!important;
    height: 50vh!important;
}

@media only screen and (min-width:576px) and (max-width: 600px){

}


