@import url("../css/config.css");

input,
select,
.username-info:focus,
.email-info:focus {
  border: 1px solid var(--dark-color) !important;
}

label {
  font-size: var(--font-size-5);
  color: var(--blue-color);
  font-weight: 600;
}

input {
  font-size: var(--font-size-5);
}

input:focus,
select:focus {
  border: 1px solid var(--blue-color) !important;
}

header {
  background-color: var(--blue-color) !important;
  height: var(--header-height);
}

.option-custom-font {
  color: var(--black-light-color);
}

/* config layout ================================== */
.l-container {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  height: 100vh !important;
}

.bg-shape {
  background-image: url(../img/aplicacao/wave.svg);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}

/* config main =====================================*/

.wrapper {
  height: 100vh !important;
}

/* sidebar config ==================================*/

.sidebar {
  position: fixed;
  width: 0;
  height: 100%;
  top: 55px;
  left: 0;
  z-index: 1;
  background-color: var(--gray-color);
  overflow-x: hidden;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    z-index: 10000;
  }
}

.sidebar.sidebar_active {
  width: 300px;
}

.list__sidebar {
  padding-top: 2rem;
  padding-left: 2.8rem;
}

.links__sidebar {
  list-style: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* conteudo scrollable */
.content_page_scroll {
  min-height: 100vh;
  transition: margin-left 0.5s;
}

/* formulario modal ================================*/

.form-control:focus {
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-select,
::placeholder {
  font-size: var(--font-size-5);
}

.data-tarefa,
.prioridade-tarefa {
  font-size: var(--font-size-5);
}

.data,
.prioridade,
.prioridade-tarefa {
  color: var(--blue-color) !important;
  font-size: var(--font-size-5);
}

#text-adicionar-tarefa {
  color: var(--black-light-color) !important;
}

.btn-adicionar-tarefa {
  cursor: pointer !important;
}

.btn-adicionar-tarefa {
  border: none !important;
}

/* botoes modal */
.btn-adicionar,
.btn-cancelar,
.btn-danger {
  border-radius: 0.2rem !important;
  outline: none;
}

.btn-adicionar {
  background-color: var(--green-color);
  color: var(--white-color);
}

.btn-adicionar:hover {
  border: 1px solid var(--green-color-hover);
  background-color: var(--green-color-hover);
  color: var(--white-color);
}

.btn-cancelar {
  background-color: var(--gray-dark-color);
  color: var(--white-color);
}

.btn-cancelar:hover {
  border: 1px solid var(--black-light-color);
  background-color: var(--black-light-color);
  color: var(--white-color);
}

/* config pag login e cadastro ==================*/

.img-user {
  display: block;
  align-self: center;
  margin-bottom: var(--mb6);
}

.form-box {
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.ajuda-text {
  margin-top: var(--mb3);
  color: var(--dark-color);
  font-size: var(--font-size-5);
}

.ajuda-text:hover {
  color: var(--blue-color);
}

.cta-text {
  font-size: var(--font-size-5);
  color: var(--black-light-color);
}

.cta-register {
  color: var(--white-color);
}

.cta-register:hover {
  color: var(--black-light-color);
}

.form,
.form > button {
  width: 100%;
}

form > button {
  background-color: var(--blue-color) !important;
  color: var(--gray-color) !important;
}

/* config cards de tarefa ===================== */

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0.2rem !important;
  background-color: #f7f7f7;
}

.card-text {
  font-size: var(--font-size-4);
}

@media only screen and (min-width: 768px) {
  .card-link {
    width: 100% !important;
  }
}

@media only screen and (min-width: 576px) {
  .card {
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .btn-acao-tarefa {
    width: auto;
  }
  .btn-acao-tarefa > a:nth-child(n + 2):nth-child(-n + 3) {
    margin-left: 1.5rem !important;
  }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .card-body {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1366px) {
  .card,
  .box-adicionar-tarefa {
    max-width: 1024.5px !important;
  }
}

/* modal config ==================================== */

.modal-content {
  border-radius: var(--mb1);
  border: none;
}

/* user page config ================================ */

.foto-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  background-color: var(--blue-color);
}

.links__sidebar:hover {
  background-color: var(--white-color);
}

.links__sidebar:focus {
  background-color: var(--white-color);
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu[data-bs-popper] {
  left: -8rem;
  margin-top: 3px;
  border-radius: 0.2rem;
}

.dropdown-item {
  font-size: 0.9rem;
}
