{% extends 'modal-adicionar-tarefa.html' %}

<!-- Modal ID -->
{% block modal-id%} id="editarModal{{ tarefa.pk }}" {% endblock modal-id%}

<!-- Titulo do formulário no modal-->
{% block modal-title %} Editar tarefa {% endblock modal-title %}

<!-- Form action -->
{% block action %} action="/editar_tarefa" {% endblock action %}


<!-- Botão no modal de edição -->
{% block btn-action %} Salvar Alterações {% endblock btn-action %}


<!--+++++++++++++++++++++ Inputs do form +++++++++++++++++++++++-->
{% block value-id %}
    <input type="hidden" class="form-control" name="id" value="{{tarefa.id}}" readonly>
{% endblock value-id %}
<!--Titulo da tarefa -->
{% block value-tarefa %} value="{{tarefa.tarefa}}" {% endblock value-tarefa %}

<!--Descricao -->
{% block value-descricao %}value="{{tarefa.descricao}}"{% endblock value-descricao %}

<!--Prioridade-->
{% block option %}
<option>{{tarefa.prioridade}}</option>
{% endblock option %}

<!--data -->
{% block value-data %}value="{{tarefa.Data}}"{% endblock value-data %}